.casts-list {
  margin: 0.5em;

  .mat-expansion-panel:not(.mat-expanded) {
    border-bottom: 1px solid #666;
  }

  .cast-status {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
  }

  span {
    margin-right: 0.5em;

    &.timestamp {
      margin-right: 1em;
    }

    &.damage {
      width: 200px;
    }
  }

  .icon {
    background-position: center;
    background-size: cover;
    height: 20px;
    width: 20px;
  }

  .expanded-content {
    display: flex;

    div {
      padding-left: 0.5em;
      padding-right: 1em;
    }
  }

  .instances {
    margin-top: 2em;
    padding: 0.5em;
  }

  .instance {
    padding-top: 0.25em;
  }

  .warning {
    background-color: orangered;
  }

  .notice {
    background-color: gold;
  }
}
