.casts-list {
  margin: 0.5em;

  .stats {
    display: flex;

    .aggregates {
      font-size: 0.9em;
      color: #fff;
      margin-top: 0.6em;
      margin-bottom: 1em;
      padding-left: 0.5em;
      padding-right: 1em;

      > div {
        padding: 0.25em;
      }
    }
  }

  .spell-filter {
    height: 60px;
    font-size: smaller;

    ::ng-deep.mat-form-field-flex {
      padding-top: 0;
    }
  }

  .mat-expansion-panel:not(.mat-expanded) {
    border-bottom: 1px solid #666;
  }

  .mat-expansion-panel-header-description {
    margin-right: 0;
  }

  .cast-status {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
  }

  span {
    margin-right: 0.5em;

    &.timestamp {
      margin-right: 1em;
    }

    &.damage {
      min-width: 110px;
    }

    &.downtime {
      min-width: 110px;
    }
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .instances {
    margin-top: 2em;
    padding: 0.5em;
  }

  .instance {
    padding-top: 0.25em;
  }

  .text-warning {
    ::ng-deep.mat-content {
      color: orangered;
    }
  }

  .text-notice {
    ::ng-deep.mat-content {
      color: gold;
    }
  }
}

@media screen and (max-width: 500px) {
  .casts-list {
    margin: 0.25em 0;

    .stats {
      flex-flow: column wrap;

      .aggregates {
        font-size: 0.8em;
        color: #fff;
        margin-top: 0.2em;
        margin-bottom: 0.5em;
        padding-left: 0;
        padding-right: 8px;

        > div {
          display: inline-block;
          min-width: 10%;
          padding-right: 0.6em;

          span {
            display: block;
          }
        }
      }
    }
  }
}
