.casts-list {
  margin: 0.5em;

  .hidden {
    display: none
  }

  .stats {
    max-height: 100px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    font-size: 0.9em;
    color: #fff;
    margin-top: 0.6em;
    margin-bottom: 1em;

    > div {
      flex: initial;
      width: 190px;
      padding: 0.25em;

      &.break {
        width: 0;
        height: 100px;
        padding: 0;
        margin: 0;
      }
    }
  }

  .spell-filter {
    height: 60px;
    font-size: smaller;

    ::ng-deep.mat-form-field-flex {
      padding-top: 0;
    }
  }

  .mat-accordion {
    position: relative;
    top: -10px;
  }

  .mat-expansion-panel:not(.mat-expanded) {
    border-bottom: 1px solid #666;
  }

  .mat-expansion-panel-header-description {
    margin-right: 0;
  }

  .cast-status {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
  }

  span {
    margin-right: 0.5em;

    &.timestamp {
      margin-right: 1em;
    }

    &.damage {
      min-width: 110px;
    }

    &.downtime {
      min-width: 110px;
    }
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .cast-details {
    display: flex;
    flex-flow: row wrap;

    > div {
      padding: 0.25em 0.5em;
    }
  }

  .instances {
    margin-top: 2em;
    padding: 0.5em;
  }

  .instance {
    padding-top: 0.25em;
  }

  .text-warning {
    ::ng-deep.mat-content {
      color: orangered;
    }
  }

  .text-notice {
    ::ng-deep.mat-content {
      color: gold;
    }
  }
}

@media screen and (max-width: 760px) {
  .casts-list {
    margin: 0.25em 0;

    .stats {
      height: 80px;
      font-size: 0.75em;
      color: #fff;
      margin: 0.5em 0;

      > div {
        padding-bottom: 2px;
        width: calc(33% - 4px);

        &.break.hidden {
          display: block;
        }

        &.break.spellpower,
        &.break.clipped-ticks,
        &.total-cooldown,
        &.total-downtime {
          display: none;
        }
      }
    }

    .cast-status {
      width: 6px;
    }

    span {
      margin-right: 0.25em;

      &.damage {
        min-width: 80px;
      }
    }

    .icon {
      height: 16px;
      width: 16px;
    }

    .cast-details > div {
      width: 100%;

      &.spellpower, &.hits {
        display: block;
      }
    }

    ::ng-deep.mat-expansion-panel-header {
      padding: 0 8px !important;
    }

    ::ng-deep.mat-expansion-panel-header-title {
      .name {
        display: none;
      }

      .target {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    ::ng-deep.mat-expansion-panel-header-description {
      .downtime, .ticks, .power {
        display: none;
      }
    }
  }
}
