.app-bar {
  display: flex;
  margin: 0;
  padding: 0;
  height: 56px;
  font-size: 26px;
  line-height: 56px;

  .title {
    margin-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .link {
    margin-left: 0.25em;

    .mat-icon {
      position: relative;
      top: 4px;
    }
  }
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;

  .mat-form-field {
    display: inline-block;
    width: 30%;
    margin: 0 1em 0 1em;
  }
}

.target-form {
  margin-left: 10px;
  width: 250px;
}

.content {
  padding-left: 1em;
  padding-right: 1em;

  .icon {
    height: 32px;
    width: 32px;
  }

  ::ng-deep.mat-tab-link, ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active {
    min-width: 60px;

    .label {
      margin-left: 6px;
    }
  }

  ::ng-deep.mat-tab-label-active {
    opacity: 1;
  }
}

.loading {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .app-bar {
    height: 46px;
    font-size: 22px;
    line-height: 46px;

    .title {
      margin-left: 0.5em;
    }
  }

  .inputs {
    .mat-form-field {
      width: 45%;
    }
  }

  .content {
    ::ng-deep.mat-tab-link, ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active {
      min-width: 50px;
      max-width: 60px;

      .label {
        display: none;
      }
    }
  }
}
