/**
 * Priest Abilities
 */

.icon {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  // VT
  &.spell-48160, &.spell-vt {
    background-image: url('/shadow/assets/vt.jpg');
  }

  // SW:P
  &.spell-48125, &.spell-swp {
    background-image: url('/shadow/assets/swp.jpg');
  }

  // Mind Blast
  &.spell-48127, &.spell-mb {
    background-image: url('/shadow/assets/mb.jpg');
  }

  // Mind Flay
  &.spell-48156, &.spell-flay {
    background-image: url('/shadow/assets/flay.jpg');
  }

  // SW: Death
  &.spell-48158, &.spell-swd {
    background-image: url('/shadow/assets/swd.jpg');
  }

  // VE
  &.spell-15286, &.spell-ve {
    background-image: url('/shadow/assets/ve.jpg');
  }

  // Shield
  &.spell-48066, &.spell-shield {
    background-image: url('/shadow/assets/shield.jpg');
  }

  // Fade
  &.spell-586, &.spell-fade {
    background-image: url('/shadow/assets/fade.jpg');
  }

  // Fear Ward
  &.spell-6346, &.spell-fear-ward {
    background-image: url('/shadow/assets/ward.jpg');
  }

  // Shadow friend
  &.spell-34433, &.spell-fiend {
    background-image: url('/shadow/assets/fiend.jpg');
  }

  // Devouring Plague
  &.spell-48300, &.spell-dp {
    background-image: url('/shadow/assets/plague.jpg');
  }

  // Desperate prayer
  &.spell-25437, &.spell-desperate-prayer {
    background-image: url('/shadow/assets/prayer.jpg');
  }

  // Berserking
  &.spell-26297, &.spell-berserking {
    background-image: url('/shadow/assets/berserking.jpg');
  }

  // Dispel Magic
  &.spell-988, &.spell-dispel-magic {
    background-image: url('/shadow/assets/dispel.jpg');
  }

  &.spell-64843 {
    background-image: url('/shadow/assets/divinehymn.jpg');
  }

  &.spell-32375, &.spell-mass-dispel {
    background-image: url('/shadow/assets/massdispel.jpg');
  }

  &.spell-48078, &.spell-holy-nova {
    background-image: url('/shadow/assets/holynova.jpg');
  }

  &.spell-47585, &.spell-dispersion {
    background-image: url('/shadow/assets/dispersion.jpg');
  }

  &.spell-64901 {
    background-image: url('/shadow/assets/hope.jpg');
  }

  /**
   * Engineering
   */

  // Adamantite Grenade
  &.spell-30217, &.spell-boom {
    background-image: url('/shadow/assets/boom.jpg');
  }

  // Dense Dynamite
  &.spell-23063 {
    background-image: url('/shadow/assets/boom.jpg');
  }

  &.spell-30216 {
    background-image: url('/shadow/assets/boom.jpg');
  }

  // Goblin land mine
  &.spell-4100 {
    background-image: url('/shadow/assets/mine.jpg');
  }

  // Goblin Sapper
  &.spell-13241 {
    background-image: url('/shadow/assets/boom.jpg');
  }

  // Super Sapper Charge
  &.spell-30486 {
    background-image: url('/shadow/assets/boom.jpg');
  }

  /**
   * Buffs
   */

  &.spell-32182, &.spell-heroism {
    background-image: url('/shadow/assets/heroism.jpg');
  }

  &.spell-2825, &.spell-bloodlust {
    background-image: url('/shadow/assets/bloodlust.jpg');
  }

  &.spell-28507, &.spell-haste-potion {
    background-image: url('/shadow/assets/haste.jpg');
  }

  &.spell-35476, &.spell-351355, &.spell-drums-of-battle {
    background-image: url('/shadow/assets/drums.jpg');
  }

  &.spell-40396, &.spell-skull-of-guldan {
    background-image: url('/shadow/assets/skull-of-guldan.jpg');
  }

  &.spell-18803, &.spell-focus {
    background-image: url('/shadow/assets/focus.jpg');
  }

  &.spell-45856, &.spell-breathe-haste {
    background-image: url('/shadow/assets/haste-breath.jpg');
  }

  &.spell-24907, &.spell-moonkin-aura {
    background-image: url('/shadow/assets/moonkin.jpg');
  }

  &.spell-27150, &.spell-ret-aura {
    background-image: url('/shadow/assets/ret-aura.jpg');
  }

  &.spell-10060, &.spell-pi {
    background-image: url('/shadow/assets/pi.jpg');
  }

  &.spell-33370, &.spell-quags {
    background-image: url('/shadow/assets/quags.jpg');
  }

  &.spell-3738, &.spell-wrath-of-air {
    background-image: url('/shadow/assets/wrath-of-air.jpg');
  }

  &.spell-28508, &.spell-destruction {
    background-image: url('/shadow/assets/destruction.jpg');
  }

  &.spell-45044, &.spell-sns {
    background-image: url('/shadow/assets/sliver.jpg');
  }

  &.spell-43712, &.spell-hsh {
    background-image: url('/shadow/assets/hsh.jpg');
  }

  &.spell-51953, &.spell-dark-iron-pipe {
    background-image: url('/shadow/assets/pipe.jpg');
  }

  &.spell-35163, &.spell-icon-crescent {
    background-image: url('/shadow/assets/crescent.jpg');
  }

  &.spell-55637, &.spell-lightweave {
    background-image: url('/shadow/assets/lightweave.jpg');
  }

  &.spell-61792, &.spell-shadowy-insight {
    background-image: url('/shadow/assets/shadowy-insight.jpg');
  }

  &.spell-54758, &.spell-hyperspeed {
    background-image: url('/shadow/assets/hyperspeed.jpg');
  }

  &.spell-14751, &.spell-inner-focus {
    background-image: url('/shadow/assets/innerfocus.jpg');
  }

  &.spell-60480, &.spell-war-prisoner {
    background-image: url('/shadow/assets/motwp.jpg');
  }

  &.spell-60064, &.spell-sundial {
    background-image: url('/shadow/assets/sundial.jpg');
  }

  &.spell-56184, &.spell-twilight-serpent {
    background-image: url('/shadow/assets/serpent.jpg');
  }

  &.spell-60479, &.spell-forge-ember {
    background-image: url('/shadow/assets/fire.jpg');
  }

  &.spell-60471, &.spell-tome-arcane-phenomena {
    background-image: url('/shadow/assets/tome.jpg');
  }

  &.spell-59657, &.spell-argent-valor {
    background-image: url('/shadow/assets/argent-valor.jpg');
  }

  &.spell-60494, &.spell-dying-curse {
    background-image: url('/shadow/assets/dying-curse.jpg');
  }

  &.spell-60492, &.spell-embrace-spider {
    background-image: url('/shadow/assets/embrace-spider.jpg');
  }

  /**
   * Misc
   */

  // Netherweave net
  &.spell-31367, &.spell-net {
    background-image: url('/shadow/assets/net.jpg');
  }

  // Plant Thornling
  &.spell-22792, &.spell-thornling {
    background-image: url('/shadow/assets/thornling.jpg');
  }
}



