// VT
.spell-34917 {
  background: no-repeat url('/shadow/assets/vt.jpg');
}

// SW:P
.spell-25368 {
  background: no-repeat url('/shadow/assets/swp.jpg');
}

// Mind Blast
.spell-25375 {
  background: no-repeat url('/shadow/assets/mb.jpg');
}

// Mind Flay
.spell-25387 {
  background: no-repeat url('/shadow/assets/flay.jpg');
}

// SW: Death
.spell-32996 {
  background: no-repeat url('/shadow/assets/swd.jpg');
}

// VE
.spell-15286 {
  background: no-repeat url('/shadow/assets/ve.jpg');
}

// Shield
.spell-25218 {
  background: no-repeat url('/shadow/assets/shield.jpg');
}

// Fade
.spell-25429 {
  background: no-repeat url('/shadow/assets/fade.jpg');
}

// Shadow friend
.spell-34433 {
  background: no-repeat url('/shadow/assets/fiend.jpg');
}

// Devouring Plague
.spell-25467 {
  background: no-repeat url('/shadow/assets/plague.jpg');
}

// Starshards
.spell-25446 {
  background: no-repeat url('/shadow/assets/starshards.jpg');
}
