@use 'node_modules/@angular/material/index' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette, 200);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

@include mat.button-theme($theme);
@include mat.button-toggle-theme($theme);
@include mat.card-theme($theme);
@include mat.checkbox-theme($theme);
@include mat.core-theme($theme);
@include mat.divider-theme($theme);
@include mat.expansion-theme($theme);
@include mat.form-field-theme($theme);
@include mat.icon-theme($theme);
@include mat.input-theme($theme);
@include mat.progress-spinner-theme($theme);
@include mat.select-theme($theme);
@include mat.slide-toggle-theme($theme);
@include mat.snack-bar-theme($theme);
@include mat.tabs-theme($theme);
@include mat.toolbar-theme($theme);

html, body {
  height: 100%;
}

body {
  background-color: mat.get-color-from-palette(mat.$dark-theme-background-palette, 'background');
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0.25em 0.25em;
}

h3 {
  font-size: 1.8em;
  font-weight: normal;
}

h4 {
  font-size: 1.4em;
  font-weight: normal;
}

.tooltip {
  background-color: mat.get-color-from-palette(mat.$dark-theme-background-palette, 'background');
  padding: 4px 8px;
  font-size: 0.8em;
}

form mat-form-field {
  &.fill {
    width: 100%;
  }
}

.mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

.mat-button-toggle > button {
  background-color: mat.get-color-from-palette(mat.$dark-theme-background-palette, 'raised-button');
}

.mat-button-toggle:hover > button {
  background-color: mat.get-color-from-palette(mat.$dark-theme-background-palette, 'focused-button');
}

.mat-button-toggle-checked > button,
.mat-button-toggle-checked:hover > button {
  background-color: mat.get-color-from-palette(mat.$dark-theme-background-palette, 'selected-button');
  color: mat.get-color-from-palette(mat.$indigo-palette, 200);
}

.logo {
  display: inline-block;
  height: 56px;
  width: 56px;
  background: no-repeat url('/shadow/assets/shadowform.jpg');
}

.app-bar {
  background-color: mat.get-color-from-palette(mat.$dark-theme-background-palette, 'app-bar');
}

.text-primary {
  color: mat.get-color-from-palette(mat.$indigo-palette, 300);
}

.text-subdued {
  color: #999;
}

.table-accent {
  color: mat.get-color-from-palette(mat.$indigo-palette, 200);
}

.spell-accent {
  color: mat.get-color-from-palette(mat.$pink-palette, 100);
}

.spell-accent.crit {
  color: mat.get-color-from-palette(mat.$pink-palette, 300);
}

.warning {
  background-color: orangered;
}

.notice {
  background-color: gold;
}

.text-warning {
  color: orangered;
}

.text-notice {
  color: gold;
}

a {
  color: mat.get-color-from-palette(mat.$indigo-palette, 200);
}

.snackbar {
  background-color: mat.get-color-from-palette(mat.$dark-theme-background-palette, 'app-bar');
  color: mat.get-color-from-palette(mat.$indigo-palette, 100);
}

//
// Mobile styles
//
@import 'src/styles/mobile';

//
// Spell icons
//
@import 'src/styles/icons';
