.casts-list {
  margin: 0 0.5em;

  .hidden {
    display: none
  }

  .toolbar {
    display: flex;
    height: 60px;
    font-size: smaller;
    margin-left: 4px;
    margin-right: 4px;

    ::ng-deep.mat-form-field-flex {
      padding-top: 0;
    }

    a.settings {
      position: relative;
      top: 8px;
      margin-left: 6px;
      margin-right: 0;
    }

    > div {
      flex: 1 1 100%;

      &.right {
        text-align: right;

        ::ng-deep.mat-button-toggle {
          margin-top: 4px;
        }
      }
    }
  }

  .mat-accordion {
    position: relative;
    top: -10px;
  }

  .mat-expansion-panel:not(.mat-expanded) {
    border-bottom: 1px solid #666;
  }

  .mat-expansion-panel-header-description {
    justify-items: flex-end;
    margin-right: 0;
  }

  .cast-status {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
  }

  ::ng-deep.mat-expansion-panel-header {
    padding: 0 8px 0 16px;
  }


  ::ng-deep.mat-expansion-panel-header-title > span {
    &.timestamp {
      margin-left: 4px;
      margin-right: 0.5em;
    }

    &.icon, &.name, &.target {
      margin-right: 6px;
    }

    &.name, &.target {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  ::ng-deep.mat-expansion-panel-header-description > span {
    margin-right: 0.75em;

    &.buffs > .buff > span.icon {
      display: inline-block;
      margin-top: 4px;
      margin-right: 2px;
    }

    &.damage {
      min-width: 110px;
    }

    &.cooldown, &.downtime {
      min-width: 100px;
    }

    &.haste {
      min-width: 75px;
    }

    .cd-label, .hits-label-abbrev {
      display: none;
    }
  }

  ::ng-deep.mat-expansion-panel-header-description > span:last-of-type {
    margin-right: 0;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .cast-details {
    display: flex;
    flex-flow: row wrap;

    > div {
      padding: 0 0.5em;
    }

    &.toggle-haste .haste {
      display: none;
    }

    &.toggle-power .spellpower {
      display: none;
    }
  }

  .instances, .buff-details {
    margin-top: 0.5em;
    padding: 0.5em;
  }

  .buff-details > .buff > a > span.icon {
    display: inline-block;
    margin-right: 2px;
  }

  .instance {
    > span {
      display: inline-block;
      vertical-align: top;

      &.target {
        max-width: 30%;
        margin-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &.damage {
        margin-left: 10px;
      }
    }
  }

  .text-warning {
    ::ng-deep.mat-content {
      color: orangered;
    }
  }

  .text-notice {
    ::ng-deep.mat-content {
      color: gold;
    }
  }
}

@media screen and (max-width: 760px) {
  .haste-toggle {
    display: none
  }

  .casts-list {
    margin: 0.25em 0;

    .cast-status {
      width: 6px;
    }

    .icon {
      height: 16px;
      width: 16px;
    }

    .cast-details > div {
      width: 100%;

      &.spellpower, &.hits {
        display: block;
      }
    }

    ::ng-deep.mat-expansion-panel-header {
      padding: 0 8px !important;
    }

    ::ng-deep.mat-expansion-panel-header-title {
      margin-right: 0;
      span {
        margin-right: 6px;

        &.timestamp {
          margin-right: 6px;
        }

        &.name:not(.no-target) {
          display: none;
        }

        &.target, &.name.no-target {
          display: inline-block;
          max-width: calc(100vw - 215px);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    ::ng-deep.mat-expansion-panel-header-description > span {
      margin-right: 0;

      &.damage {
        margin-left: 8px;
        min-width: 32px;
        text-align: right;
      }

      &.cooldown {
        min-width: 40px;
      }

      &.buffs > .buff > span.icon {
        display: none;
      }

      span.damage-label {
        display: none;
      }

      &.downtime, &.power, &.haste, &.hits.failed, span.downtime-label, span.hits-label {
        display: none;
      }

      span.hits-label-abbrev, span.cd-label {
        display: inline;
      }
    }

    .cast-details {
      &.toggle-haste, &.toggle-power {
        .spellpower, .haste {
          display: block;
        }
      }
    }

    .instance {
      > span.target {
        max-width: calc(100% - 160px);
      }

      > span.damage > span.damage-label {
        display: none;
      }
    }
  }
}
