<div class="home">
  <div class="content">
    <div class="header">
      <div><img src="assets/shadowform.jpg" /></div>
      <h1>TBCC Shadow Priest Analyzer</h1>
    </div>

    <mat-card>
      <mat-card-content>
        <form class="report-form" [formGroup]="form">
          <mat-form-field class="fill" appearance="standard">
            <mat-label>Enter WCL report ID or URL</mat-label>
            <input type="text"
                   formControlName="log"
                   placeholder="e.g. https://classic.warcraftlogs.com/reports/WLkZ1TmdcJD76Aty"
                   value=""
                   (keydown.enter)="loadReport()"
                   matInput />
            <mat-error *ngIf="log?.hasError('invalid')">
              Enter a valid WCL report ID or URL
            </mat-error>
            <mat-error *ngIf="log?.hasError('wcl')">
              {{log?.getError('wcl')}}
            </mat-error>
            <button *ngIf="log?.dirty && log?.valid && !searching"
                    aria-label="Load Report"
                    color="primary"
                    (click)="loadReport()"
                    matSuffix mat-icon-button>
              <mat-icon>search</mat-icon>
            </button>
            <mat-spinner *ngIf="searching" matSuffix color="accent" diameter="16"></mat-spinner>
            <mat-icon *ngIf="log?.pristine && summary" matSuffix color="accent">done</mat-icon>
          </mat-form-field>

          <mat-form-field class="fill" appearance="standard">
            <mat-label>Select Player</mat-label>
            <mat-select #selectPlayer formControlName="player">
              <mat-option *ngFor="let option of summary?.players" [value]="option.id">
                {{option.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="fill" appearance="standard">
            <mat-label>Select Encounter</mat-label>
            <mat-select #selectEncounter formControlName="encounter">
              <mat-option *ngFor="let option of encounters" [value]="option.id">
                {{option.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div style="text-align: center">
            <button mat-flat-button color="primary" [disabled]="!formComplete" (click)="analyze($event)">Analyze</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

