.home {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  .content {
    margin-top: -30vh;

    .header {
      text-align: center;

      .logo {

      }
    }

    .report-form {
      width: 500px;
    }
  }

  .footer {
    font-size: smaller;
    color: #fff;

    span.separator {
      margin-left: 6px;
      margin-right: 6px;
    }
  }
}

@media screen and (max-width: 500px) {
  .home .content .report-form {
    width: 100%;
  }
}
