@use '~@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette, 200);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

@include mat.core-theme($theme);
@include mat.card-theme($theme);
@include mat.expansion-theme($theme);
@include mat.form-field-theme($theme);
@include mat.input-theme($theme);
@include mat.select-theme($theme);
@include mat.button-theme($theme);
@include mat.divider-theme($theme);
@include mat.icon-theme($theme);
@include mat.progress-spinner-theme($theme);
@include mat.tabs-theme($theme);

html, body {
  height: 100%;
}

body {
  background-color: mat.get-color-from-palette(mat.$dark-theme-background-palette, 'background');
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0.25em 0.25em;
}

form mat-form-field {
  &.fill {
    width: 100%;
  }
}

.mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

.logo {
  display: inline-block;
  height: 56px;
  width: 56px;
  background: no-repeat url('/shadow/assets/shadowform.jpg');
}

.app-bar {
  background-color: mat.get-color-from-palette(mat.$dark-theme-background-palette, 'app-bar');
}

.text-primary {
  color: mat.get-color-from-palette(mat.$indigo-palette, 300);
}

.text-subdued {
  color: #999;
}

.table-accent {
  color: mat.get-color-from-palette(mat.$indigo-palette, 200);
}

.spell-accent {
  color: mat.get-color-from-palette(mat.$pink-palette, 100);
}

a {
  color: mat.get-color-from-palette(mat.$indigo-palette, 200);
}

//
// Spell icons
//

// VT
.spell-34917 {
  background: no-repeat url('/shadow/assets/vt.jpg');
}

// SW:P
.spell-25368 {
  background: no-repeat url('/shadow/assets/swp.jpg');
}

// Mind Blast
.spell-25375 {
  background: no-repeat url('/shadow/assets/mb.jpg');
}

// Mind Flay
.spell-25387 {
  background: no-repeat url('/shadow/assets/flay.jpg');
}

// SW: Death
.spell-32996 {
  background: no-repeat url('/shadow/assets/swd.jpg');
}

// VE
.spell-15286 {
  background: no-repeat url('/shadow/assets/ve.jpg');
}

// Shield
.spell-25218 {
  background: no-repeat url('/shadow/assets/shield.jpg');
}

// Fade
.spell-25429 {
  background: no-repeat url('/shadow/assets/fade.jpg');
}

// Shadow friend
.spell-34433 {
  background: no-repeat url('/shadow/assets/fiend.jpg');
}
