.casts-list {
  margin: 0.5em;

  .hidden {
    display: none
  }

  .stats {
    max-height: 100px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    font-size: 0.9em;
    color: #fff;
    margin-top: 0.6em;
    margin-bottom: 1em;

    > div {
      flex: initial;
      width: 190px;
      padding: 0.25em;

      &.break {
        width: 0;
        height: 100px;
        padding: 0;
        margin: 0;
      }
    }
  }

  .spell-filter {
    display: flex;
    height: 60px;
    font-size: smaller;
    margin-left: 4px;
    margin-right: 4px;

    ::ng-deep.mat-form-field-flex {
      padding-top: 0;
    }

    > div {
      flex: 1 1 100%;

      &.help {
        text-align: right;
        position: relative;
        top: 22px;
      }
    }
  }

  .mat-accordion {
    position: relative;
    top: -10px;
  }

  .mat-expansion-panel:not(.mat-expanded) {
    border-bottom: 1px solid #666;
  }

  .mat-expansion-panel-header-description {
    justify-items: flex-end;
    margin-right: 0;
  }

  .cast-status {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
  }

  ::ng-deep.mat-expansion-panel-header {
    padding: 0 8px 0 16px;
  }


  ::ng-deep.mat-expansion-panel-header-title > span {
    &.timestamp {
      margin-left: 4px;
      margin-right: 0.5em;
    }

    &.icon, &.name, &.target {
      margin-right: 6px;
    }

    &.name, &.target {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  ::ng-deep.mat-expansion-panel-header-description > span {
    margin-right: 0.75em;

    &.damage {
      min-width: 110px;
    }

    &.cooldown, &.downtime {
      min-width: 100px;
    }

    .cd-label, .hits-label-abbrev {
      display: none;
    }
  }

  ::ng-deep.mat-expansion-panel-header-description > span:last-of-type {
    margin-right: 0;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .cast-details {
    display: flex;
    flex-flow: row wrap;

    > div {
      padding: 0.25em 0.5em;
    }
  }

  .instances {
    margin-top: 2em;
    padding: 0.5em;
  }

  .instance {
    padding-top: 0.25em;
  }

  .text-warning {
    ::ng-deep.mat-content {
      color: orangered;
    }
  }

  .text-notice {
    ::ng-deep.mat-content {
      color: gold;
    }
  }
}

@media screen and (max-width: 760px) {
  .casts-list {
    margin: 0.25em 0;

    .stats {
      height: 150px;
      max-height: 150px;
      color: #fff;
      margin: 0.5em 0;

      > div {
        padding-bottom: 2px;
        width: calc(50% - 6px);

        &.break {
          display: none;
        }

        &.break.spellpower,
        &.break.clipped-ticks,
        &.total-cooldown,
        &.total-downtime {
          display: none;
        }
      }
    }

    .cast-status {
      width: 6px;
    }

    .icon {
      height: 16px;
      width: 16px;
    }

    .cast-details > div {
      width: 100%;

      &.spellpower, &.hits {
        display: block;
      }
    }

    ::ng-deep.mat-expansion-panel-header {
      padding: 0 8px !important;
    }

    ::ng-deep.mat-expansion-panel-header-title {
      margin-right: 0;
      span {
        margin-right: 6px;

        &.timestamp {
          margin-right: 6px;
        }

        &.name:not(.no-target) {
          display: none;
        }

        &.target, &.name.no-target {
          display: inline-block;
          max-width: calc(100vw - 215px);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    ::ng-deep.mat-expansion-panel-header-description > span {
      margin-right: 0;

      &.damage {
        margin-left: 8px;
        min-width: 32px;
        text-align: right;
      }

      &.cooldown {
        min-width: 40px;
      }

      span.damage-label {
        display: none;
      }

      &.downtime, &.power, &.hits.failed, span.downtime-label, span.hits-label {
        display: none;
      }

      span.hits-label-abbrev, span.cd-label {
        display: inline;
      }
    }
  }
}
